@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Cabinet Grotesk', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 2rem;
  background-color: #f5f7f8;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 768px) {
  :root {
    padding: 1rem;
  }
}
